<div class="cart-item" id="cart-item-<%= cart_item.id %>">
  <div class="cart-item-image">
    <% if cart_item.product.images.present? %>
      <%= cl_image_tag(cart_item.product.images.first.resource.url,
                       width: "100%") %>
    <% end %>
  </div>
  <div class="cart-item-details">
    <header>
      <%= cart_item.full_name %>
      <%= button_to [cart_item.product, cart_item],
            method: :delete,
            remote: :true do %>
        <%= fa_icon "times" %>
      <% end %>
    </header>

    <section><%= cart_item.short_description %></section>

    <footer>
      <div>
        <div class="order-item-quantities">
          <%= render partial: "store/order_items/form",
            locals: { cart_item: cart_item, offset: -1 } %>

          QTY <%= cart_item.quantity %>

          <%= render partial: "store/order_items/form",
            locals: { cart_item: cart_item, offset: 1 } %>
        </div>
        <div class="spinner">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
      </div>
      <div>
        <%= cart_item.formatted_price %>
      </div>
    </footer>
  </div>
</div>
