<nav class="js-cart sliding-panel-content <%= "is-visible" if defined?(visible) %> ">
  <header>
    <div class="cart-back-button-container">
      <button class="sliding-panel-close">
        <%= fa_icon "angle-left" %>
      </button>
    </div>
    <div class="cart-title">
      Your Cart
    </div>
  </header>

  <h1>Cart</h1>

  <% if current_order.present? %>
    <section class="cart-items">
      <% current_order.order_items.each do |order_item| %>
        <%= render partial: "shared/cart_item",
          locals: { cart_item: order_item } %>
      <% end %>
    </section>

    <div class="cart-bottom">
      <section class="cart-totals">
        <div>
          <div>Subtotal</div>
          <div><%= current_order.sub_total %></div>
        </div>
        <div>
          <div>Shipping</div>
          <div>$00.00</div>
        </div>
        <div>
          <div>Total</div>
          <div><%= current_order.total %></div>
        </div>
      </section>

      <section class="cart-checkout">
        <%= link_to "CHECKOUT!!!", cart_path, class: "btn btn-info" %>
        <%# button_to "Abandon", cart_abandoned_cart_path %>
      </section>
    </div>
  <% end %>
</nav>

