<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <%= link_to root_path, class: "logo" do %>
      <%= image_tag "shared/logo.png" %>
    <% end %>

    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <%= fa_icon "bars" %>
    </a>


    <div class="navigation-right">
      <ul class="navigation-menu">
        <li class="nav-link">
          <%= link_to "Shop", categories_path %>
        </li>
        <% if current_user && current_user.full_user?%>
          <li class="nav-link">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li class="nav-link">
            <%= link_to "Log In", new_user_session_path %>
          </li>
        <% end %>

        <li class="nav-link">
          <%= link_to "javascript:void(0)",
            class: "js-cart-trigger sliding-panel-button" do %>
            <%= fa_icon "shopping-cart" %>
          <% end %>
        </li>
      </ul>
    </div>

    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <% if current_user && current_user.site_admin? %>
          <li class="nav-link">
            <%= link_to "Admin Panel", admin_path %>
          </li>
        <% end %>
      </ul>
    </nav>

  </div>
</header>

<%= render partial: "shared/cart" %>
<div class="js-cart-screen sliding-panel-fade-screen"></div>
