<div>
  <table>
    <thead>
      <th>UTM Source</th>
      <th>UTM Medium</th>
      <th>UTM Content</th>
      <th>UTM Term</th>
      <th>UTM Campaign</th>
    </thead>
    <tr>
      <td><%= page_view.utm_source || "N/A" %></td>
      <td><%= page_view.utm_medium || "N/A"%></td>
      <td><%= page_view.utm_content || "N/A"%></td>
      <td><%= page_view.utm_term || "N/A"%></td>
      <td><%= page_view.utm_campaign || "N/A"%></td>
    </tr>
  </table>
</div>
