<h1>Edit Product</h1>

<%= render "form" %>

<h3>Skus</h3>

<% @product.skus.each do |sku| %>
  <%= link_to sku.name, edit_admin_product_sku_path(@product, sku) %><br>
<% end %>

<%= link_to "New Sku", new_admin_product_sku_path(@product) %>
<h3>Images</h3>
<div>
  <% @product.images.each do |image| %>
    <%= cl_image_tag(image.resource.url, width: 300) %>
    <br>
    <%= button_to "Delete",
      admin_product_image_path(@product, image),
      method: :delete
    %>
    <br><br>
  <% end %>
</div>
<%= link_to "New Image", new_admin_product_image_path(@product) %>
