<%= render partial: "store/checkout/breadcrumbs", locals: { step: 3 } %>

<h3>Cart Items</h3>

<div>
  <% @order_confirmation.order_items.each do |order_item| %>
    <%= render partial: "shared/cart_item", locals: { cart_item: order_item } %>
  <% end %>
</div>

<br><br>
<h3>Shipping Info</h3>
<%= @order_confirmation.address_1 %><br>
<%= @order_confirmation.address_2 %>
<%= @order_confirmation.address_line_3 %>
<br>


<br><br>
<h3>Contact Info</h3>
-- email
-- phone number

<%= simple_form_for [:checkout, @order_confirmation] do |f| %>
  <%= f.submit t(".submit") %>
<% end %>
