<div class="admin-navigation">
  <div>
  <ul class="admin-navigation-list">
    <li>
      <%= link_to admin_path do %>
        <%= fa_icon "tachometer" %> Dashboard
      <% end %>
    <li>
      <a href="javascript:void(0)" class="js-accordion-trigger">
        <%= fa_icon "cubes" %> Products
      </a>
      <ul class="submenu">
        <li>
          <%= link_to "Categories", admin_categories_path %>
        </li>
        <li>
          <%= link_to "Skus", admin_products_path %>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)" class="js-accordion-trigger">
        <%= fa_icon "shopping-cart" %> Orders
      </a>
      <ul class="submenu">
        <li>
          <%= link_to "Completed", admin_orders_path(status: :completed) %>
        </li>
        <li>
          <%= link_to "In Progress", admin_orders_path(status: :active) %>
        </li>
        <li>
          <%= link_to "Abandoned", admin_orders_path(status: :abandoned) %>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)" class="js-accordion-trigger">
        <%= fa_icon "line-chart" %> Analytics
      </a>
      <ul class="submenu">
        <li>
          <%= link_to "Page Views", admin_page_views_path %>
        </li>
      </ul>
    </li>
  </ul>
  </div>
</div>
