<tr>
  <td><%= link_to coupon.name, edit_admin_coupon_path(coupon) %></td>
  <td><%= coupon.begins %></td>
  <td><%= coupon.expires %></td>
  <td><%= coupon.inventory %></td>
  <td><%= coupon.inventory_remaining %></td>
</tr>
