<!DOCTYPE html>
<html>
<head>
  <title>Ecommerce</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div>
    Nav: <%= link_to "Home", root_path %>
  </div>

  <%= yield %>

  <% if current_order.present? %>
    <br><br>
    <div>
      <h1>Cart</h1>
      <% current_order.order_items.each do |order_item| %>
        Item: <%= "#{order_item.product.name} - #{order_item.sku.name}" %><br>
      <% end %>
    </div>
    <br><br>
    <%= link_to "CHECKOUT!!!", cart_path %>
  <% end %>

</body>
</html>
