<!DOCTYPE html>
<html>
<head>
  <title>Ecommerce</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: "shared/header" %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="content-container">
    <div>
      <%= yield %>
    </div>
  </div>

  <%= render partial: "shared/footer" %>
  <%= yield :footer %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
</body>
</html>
